VITE_SUPABASE_URL=https://msmhjznibdtxxulzvvkd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zbWhqem5pYmR0eHh1bHp2dmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MTk0OTYsImV4cCI6MjA5MDM5NTQ5Nn0.gyuqCR8XGHOaiFFYJbxsp9vnPCUA_8gM1NZ-GeH6KDA
